@use "../../mixins.module.scss";

.home > :not(:first-child) {
  margin-inline: 2.4rem;
}

.home > * {
  @include mixins.media(tablet) {
    margin-inline: 4rem !important;
  }
  @include mixins.media(desktop) {
    margin-inline: 16.5rem !important;
  }
}

.home {
  display: flex;
  flex-direction: column;
  gap: 12rem;
  @include mixins.media(shared) {
    gap: 16rem;
  }
  @include mixins.media(desktop) {
    &::after {
      z-index: 0;
      position: absolute;
      content: url("../../assets/shared/desktop/bg-pattern-leaf.svg");
      width: 100%;
      height: 100%;
      top: 50rem;
    }
  }
}
